@page "{id:long}"
@model ItemHeatmap
@{
    ViewData["Title"] = "Use it or Lose it";
}
<h1 style="color: orange">@ViewData["Title"]</h1>

<h2 style="color: whitesmoke">@Model.ItemLogs.FirstOrDefault()?.ItemName</h2>


<div style="display:flex; align-items:center; gap:20px; margin-bottom:10px;">
    <button onclick="changeYear(-1)">◀</button>
    <span id="yearLabel" style="color:white; font-size:1.2rem;"></span>
    <button onclick="changeYear(1)">▶</button>
</div>
<div id="heatmap" style="width:100%; overflow-x:auto;"></div>

<h2 id="wornCount" style="color: saddlebrown; font-size: small; margin: 20px 0;"></h2>
<h2 id="lastUsed" style="color: saddlebrown; font-size: small; margin: 10px 0;"></h2>
<h2 style="color: saddlebrown; font-size: small; margin: 40px 0 20px 0;">Most popular items</h2>
<div id="mostPopular" style="display:flex; flex-direction:row; gap:20px; "></div>
<h2 style="color: saddlebrown; font-size: small;">Least popular items</h2>
<div id="leastPopular" style="display:flex; flex-direction:row; gap:20px; color: saddlebrown; font-size: small; margin: 10px 0;"></div>

<script>
    const logs = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.ItemLogs));
    const mostPopular = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.MostPopular));
    const leastPopular = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.LeastPopular));
</script>

<script src="~/js/itemheatmap.js"></script>